/*Notes
 #618a3d couleur principale

font-family: 'Open Sans', sans-serif;
font-family: 'Tangerine', cursive;*/

/*-----------INITIALISATION DE LA PAGE------------*/

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html{
	background-color:#f0f0f0;
	color:#555555;
	font-size: 17px;
	font-family: 'Open Sans', sans-serif;
}

/*-----------DARK MODE BUTTON----------*/

body.dark{
	background-color: #1f1f1f;
	color: white;	
}
.toggle-container{
	position: fixed;
	top: 0;
	left: 0;
}
header label{
	
	opacity: 80%;
	padding-top:0.3rem ;
	z-index: 10;
	font-size: 0.7rem;
	text-align: center;
	background-color: #cad7bb;
	border-radius: 50%;
	display: inline-block;
	width: 50px;
	height: 50px;
	cursor: pointer;
	user-select: none;
	transition: background 0.3s linear;
}
body.dark header label{
	background-color: #e4ebdd;
	color: #555555;
}
header input{
	visibility: hidden;
}

/*-----------------HEADER------------------*/



.menu{
	list-style: none;
}
.menu li{
	display: inline-block;
	padding: 0.3rem 1rem;
}
.barre-menu{
	background-image:url(https://github.com/Solacroup/portfolio/blob/main/pics/bg1smenu.jpg?raw=true) ;
	height: 2rem;
	border-radius: 1rem;
	float: right;
	width: 31.5rem;	
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	margin-right: 5%;
	
}
a{
	text-decoration: none;
	color:#555555 ;
}

a:hover{
	text-decoration: underline;
}


/*--------------------------------------------*/
/*-------------------MAIN---------------------*/
/*--------------------------------------------*/

/*--------------PARTIE GAUCHE------------------*/
/*---------------------------------------------*/

.gauche{
	width: 32vw;
	margin-left: 2%;
	height: auto;
	background-image: url(https://github.com/Solacroup/portfolio/blob/main/pics/bg1s.jpg?raw=true);
	margin-top: 2rem;
	border-radius: 2rem;
	color: #555555;
	font-weight: 100;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.gauche h3{
	margin-top: 1rem ;
	margin-bottom: 1rem;
	text-align: center;
	font-size: 2.3rem;
	font-family: 'Tangerine', cursive;
	color: #618a3d;
	
}
.gauche p{
	font-weight: 100;
	text-align: center;
	margin:1rem 3rem;
	
}
.gauche li{
	line-height: 190%;
}
.gauche ul{
	list-style: none;
	text-align: center;
}
.ligne-verticale{
	border-left: 4px dotted #555 ;
  	height: 3rem;
  	overflow: hidden;
  	margin-left: 50%;
  	margin-top: 2rem;
  	margin-bottom: 2rem;
}
/*-----------------PHOTO------------------*/

.gauche img{
	margin-top: 1rem;
	margin-left: 30%;
	width: 11rem;
	border-radius: 10rem;
	max-width: 100%;
	height: auto;
}


/*-------------------A PROPOS--------------------*/

.apropos{
	margin-top: 2rem;
	line-height: 180%
}

/******************VOYAGES****************/

.mesvoyages{
	padding-bottom: 2rem;
}
.voy{
	padding-bottom: 7rem;
}


/*-----------------PARTIE DROITE----------------*/
/*----------------------------------------------*/

.droite h1{
	margin-top: -25rem;
	margin-right: 10rem;
	font-size: 7rem;
	line-height: 160%;
	margin-left: 5rem;
	font-family: 'Tangerine', cursive;
	font-weight: bold ;
	color: #618a3d;
}
.main-title h3{
	font-size: 0.8rem;
	margin-left: 5rem;
	margin-top: 1rem;
	margin-bottom: 5.1rem;
}

.droite{
	float: right;
	margin-top: -45rem;
	height: auto;
	max-width: 68%;
	height: auto;
	
}
.droite h2{
	
	font-family: 'Tangerine', cursive;
	font-size: 3.5rem;
	font-weight: bold;
	color: #618a3d;
}


/*---------------FORMATION ET EXPERIENCES---------*/

.titre-formation{
	margin-top: 4.9rem;
	margin-left: 8rem;
	margin-bottom: 2rem;
}
.forma-exp{
	
	
	line-height: 170%;
	
}
.forma-exp span{
	color: #618a3d;
	font-weight: 700;
}


/*------------------COMPETENCES-----------------*/

.comp{
	padding-top: 1.5rem;
	margin-left: 10rem;

}
.comp-div{
	list-style: none;
	margin-top: 4.6rem;
	background-image:url(https://github.com/Solacroup/portfolio/blob/main/pics/bg1sdiv.jpg?raw=true);
	
	width: 46rem;
	height: 25rem;
	border-radius: 1rem;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	

}
.competences progress{
	width: 30rem;
	padding-top: 1rem;
	max-width: 100%;
	height: auto;

}
.comp-div li{
	padding-top: 1rem;
	padding-left: 8rem;
	list-style: none;
}
.competences p{
	color: #555555;
	
}


/*----------------MES REALISATIONS-----------------*/

.mesrealisations{
	margin-top: 5rem;
	background-image: url(https://github.com/Solacroup/portfolio/blob/main/pics/real.png?raw=true);
	padding-bottom: 3rem;
}
.mesrealisations hr{
	width: 96%;
	margin: 0% 2%;
	background-color:#618a3d ;
	max-width: 100%;
	height: auto;
}
.realisations h2{
	margin-left: 37%;
	margin-top: 5rem;
	font-family: 'Tangerine', cursive;
	font-size: 3.5rem;
	font-weight: bold;
	color: #618a3d;
	opacity: 80%;
	z-index: 1;

}
.realistions{
	height: auto;
	width: 100%;
	
}
.img-centre{
	margin-top: 3rem;
	border-radius:4rem;
	border:none;
	width: 40rem;
	margin-left: 25%;
	margin-bottom: 2rem;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	max-width: 100%;
	height: auto;
}

.realisations img:hover{
	transform: scale(1.3) ;
	transition: transform .12s;
	z-index: 2; 
	box-shadow: 0 0 0 100vw rgba(0,0,0,0.5);
	
	
}
.realisations h3{
	text-align: center;
	margin-top: 3rem;
}


/*-------------------------------------------------
------------------FOOTER---------------------------
-------------------------------------------------*/

footer span{
	font-weight: 600;
}
form{
	background-image: url(https://github.com/Solacroup/portfolio/blob/main/pics/bg1sfooter.jpg?raw=true);
	height: 25rem;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
footer h2{
	margin-left: 45%;
	padding-top: 2rem;
	margin-bottom: 3rem;
	font-family: 'Tangerine', cursive;
	color:#618a3d;
	font-size: 3rem;
	word-spacing: 0.5rem;
}
#from,
#reply,
#message{
	margin-top: 2rem;
}
input,
textarea{	
	float: right;
	box-sizing: border-box;
	width: 35rem;
	margin-right: 10rem;
	border: none;
}
input{
	height:2rem;
	border-radius: 2rem;
}
textarea{
	height: 4rem;
	border-radius: 0.56rem;
}
footer span{
	margin-left: 10rem;
	color: #555;
	font-weight: 100;
}
.btn{
	
	margin-top: 2rem;
	margin-left: 48rem;
	width:10rem;
	transition-duration: 0.4s;
	background-color: #e4ebdd;
	padding: 0.5rem 0.7rem;
	border-radius: 1rem;
	font-family: 'Open Sans', sans-serif;
	font-size: 0.8rem;
	border: 0.1rem #618a3d dotted;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.btn:hover{
	background-color: #cad7bb; /* Green */
	color: white;	
	cursor: pointer;
}




